.Items {
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
  .item-top {
    @include flexProperties(center, start);
    gap: 40px;
    border-bottom: 1px solid $grey-color;
    .item-top-a {
      text-decoration: none;
      color: $black;
      font-size: 18px;
    }
    .item-top-a:hover {
      color: $grey-color;
    }
  }
}
.border-bottom {
  border-bottom: 2px solid $black;
}
.border-bottom:hover {
  border-bottom: 2px solid $grey-color;
}
