.Nft {
  padding: 20px;
  .nft-head {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .nft-swiper {
    .slide {
      .swiper-one {
        .swiper-one-img {
          .img {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
        }
        .swiper-one-context {
          padding: 10px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }
}
